{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
  {% if session.logged_adm_in %}
  <h3>Admin</h3>
  <div id="menu">
    <ul class="menu">
        <li class="item"><a href="/admin/push">Push</a></li>
        <li class="item"><a href="/admin/restart">Restart</a></li>
        <li class="item"><a href="/admin/export">Export</a></li>
        <li class="item"><a href="/admin/status">Status</a></li>
    </ul>
  </div>
  <div class="results">
    <form action="export" method="post" name="export_conf">
      <table style="width:100%" align="center">
        <tr><td><input type="radio" name="export_type" value="leases" checked>leases</td></tr>
        <tr><td><input type="radio" name="export_type" value="csv">cvs</td></tr>
        <tr>
          <td align=right><input type="submit" value="Export"></td>
        </tr>
      </table>
    </form>

  </div>
  {% else %}
  <h3>Wrong Profile</h3> 
  {% endif %}
  </div>
{% endblock %}

