{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
  {% if session.logged_adm_in %}

  <h3>Logs</h3>
    {% if logs %}
      <table style="width:98%" align=center>
      {% for log in logs%}
        <tr>
          <!--<td>{{ log[0] }}</td>-->
          <td>{{ log[1] }}:</td>
          <td align=right>"{{ log[3] }}" role</td>
          <td> from {{ log[2] }}</td>
          <td> action: {{ log[4] }}</td>
          <td> object: {{ log[5] }}</td>
        </tr>
      {% endfor %}

      {% if lines|int() > limit|int() %}
        {% set limit = limit|int() + 20 %}
        <tr><td><a href=?limit={{limit}}>more</a></td></tr>
      {% endif %}
      </table>
    {% endif %}

  {% else %}
  <h3>Wrong Profile</h3> 
  {% endif %}
  </div>
{% endblock %}

